form{
  padding-top: 20px;
}

input{
  width: 60%;
  text-align: center;
  color: black;
  font-size: 1.1em;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  caret-color: black;
}

input::placeholder{
  color: lightgrey;
  opacity: 0.5;
}
input:focus::placeholder{
  color: white;
}
